<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Vue 3 Basics</title>
    <style>
        .box {
            background-color: purple;
            height: 200px;
            width: 200px;
        }
        .box.two {
            background-color: red;
        }
        .box.three {
            background-color: blue;
        }
        [v-cloak] {
            display: none;
        }

        input {
            margin: 10px;
            display: block;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <login-form />

        <hr/>
        <button @click="toggleBox">Toggle Box 2</button> <!-- prevent - instead of event.preventDefault(); .stop - stop event propagation -->
        <div v-if="isVisible" class="box"></div> <!-- if falsy - element is not rendered in DOM -->


    </div>

    <script>
        let app = Vue.createApp({
            data() {
                return {
                    greeting: 'Hello Vue 3!',
                    isVisible: false,
                    isVisible2: false
                }
            },
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible
                },
                greet(greeting) {
                    console.log(greeting)
                }
            }
        })


        app.component('login-form', {

            /* v-bind:props-name or :props-name - directive to pass props to child component */
            /* key should be unique for each 'for-in' looped element;
            if elements have unique names- they can be used as keys, otherwise index can be used
            :key - binding key to the element */
            template: `
                <form @submit.prevent="handleSubmit">
                    <h1>{{ title }}</h1>
                    <p v-for="str in inputs" :key="str">{{ str }}</p>
                    <p v-for="(str, i) in inputs" :key="i">{{ str }} - {{ i }}</p>
                    <hr/>
                    <custom-input v-model="email" :label="emailLabel"/>  
                    <custom-input v-model="password" v-bind:label="passwordLabel" type="password"/>
                    <button>Log in</button>
                </form>
                <form @submit.prevent="otherHandleSubmit">
                    <h1>{{ title }}</h1>
                    <custom-input
                        v-for="(input, i) in newInputs"
                        :key="i"
                        v-model="input.value" 
                        :label="input.label"
                        :type="input.type"
                    />  
                    <button>Submit</button>
                </form>
            `,
            components: ['custom-input'],
            data() {
                return {
                    title: 'Login Form',
                    inputs: [
                        'email',
                        'password',
                        'name'
                    ],
                    newInputs:[   /* looping through data and pass it to custom-input */
                        {
                            label: 'EMAIL',
                            value: '',
                            type: 'email'
                        },
                        {
                            label: 'PASSWORD',
                            value: '',
                            type: 'password'
                        }
                    ],
                    email: '',
                    password: '',
                    emailLabel: 'Email',
                    passwordLabel: 'Password',
                }
            },
            methods: {
                handleSubmit() {
                    console.log('submitted');
                    console.log(this.email, this.password);
                },
                otherHandleSubmit() {
                    console.log(this.newInputs[0].value, this.newInputs[1].value);
                }
            }
        })
        app.component('custom-input', {
            template: `
                <label>
                    {{ label }}
                    <input :type="type" v-model="inputValue">
                </label>
            `,

             // 'get data from' and 'set data to' parent -  via parent's 'v-model' directive
             // modelValue props - VUE props to get from v-model (prop under the hood - :modelValue="variable")  
            props: ['label', 'type', 'modelValue'], 
            computed: {
                inputValue: {
                    get() {
                        return this.modelValue
                    },
                    set(value) {
                        // console.log(value);
                        this.$emit('update:modelValue', value);  // emitting the event and pass the value to parent
                    }
                }
            }
            // data() {
            //     return {
            //         inputValue: ''
            //     }
            // }
        })

        app.mount('#app')
    </script>

</body>

</html>